/* #start{
    position: center;
    font-size: 20px;

} */

.parent{
    display: grid;
    height: 150vh;
    width: auto;
    margin: 0;
}


#startGame{
    
    padding: 20px;
    background-color: #f72585;
    
 
}

.startbtn{
    border: plum solid;
    padding: 20px
}

.quiz{
    
    padding: 20px;
    background-color: #7209b7;
}

.answers{
    padding: 20px;
    background-color: #3a0ca3;
}

.score{
    padding: 20px;
    background-color: #4361ee;
}


