#start{
    position: center;
    font-size: 20px;

}

.parent{
    display: grid;
    height: 150vh;
    width: auto;
    margin: 0;
}

.header{
    border: red solid;
    padding: 20px;
    background-color: red;
}

.startbtn{
    border: plum solid;
    padding: 20px
}

.quiz{
    border: steelblue solid;
    padding: 20px;
    background-color: steelblue;
}

.answers{
    border: tan solid;
    padding: 20px;
}

.score{
    border: tomato solid;
    padding: 20px;
}


